Page {
    background-image: url('~/assets/login_bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 60% 50%; 
}

.layoutOutside{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
}


.titleLogin{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
}

.txtfdUsername{
    background-color: rgba(0, 0, 0, 0.57);
    border-color: #757575;
    border-width: 1;
    color: #ffffff;
    height:10%;
    margin-bottom: 10px;
}

.txtfdPassword{
    background-color: rgba(black, black, black, 0.3);
    border-color: #757575;
    border-width: 1;
    color: #ffffff;
    height:10%;
    margin-bottom: 10px;
}

.loginBtn{
    background-color:#64DD17;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
}

.forgotBtn{
    background-color: #64DD17;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
}

.btnFacebook{
    background-color: #1d4088;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    border-width: 1;
    border-color: transparent;
    margin-right: 0%;
}

.btnGoogle{
    background-color: #64DD17;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    border-width: 1;
    border-color: transparent;
    margin-left: 10%; 
}

.titlalternativelogin{
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #ffffff;
}

.footer{
    vertical-align: bottom;
    bottom: 0;
    position:fixed;
    background-color: #64DD17;
    text-align: center;
    height: 6%;
}

.textFooter{
    color: #ffffff;
    margin-bottom: 30%;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.regButton{
    color: #ffffff;
    font-size: 14px;
    background-color:transparent;
    border-color: transparent;
    border-width: 1;
    
}

.imgLogo{
    width: 70%;
    margin-bottom: 20px;
}