.infoPlace{
    margin-left: 0%;
    margin-top: 0px;
    margin-right: 0%;
    background-color: #3A1053;
    border-radius: 0px;
    padding: 5px;
}

.textInfo{
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}

.textInfoTitle{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}


.titleInfo{
    color: #636363;
    font-size: 18px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom :10px;
    margin-top: 5px;
}

.formPlace{
    margin-top: 10px;
    margin-right: 3%;
    margin-left: 3%;
}

.datePlace{
    margin-top: 10px;
}

.accountNamePlace{
    margin-top: 10px;
}

.btnPlace{
    margin-top: 50px;
}

.labelForm{
    margin-top: 10px;
    font-weight: 700;
    color: #212121;
}

.accountPlace{
    margin-bottom: 30px;
}

.labelAccInfom{
    margin-top: 10px;
    font-weight: 400;
    color: #212121;
}

.btnProcess{
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    background-color: #32cb00;
    width: 100%;
    height: 50px;
    vertical-align: bottom;
    border-radius: 1;
    bottom: 0;
}


.formTextField{
    margin-top: 15px;
    margin-bottom: 2px;
    border-color: #E6E6E6;
    border-width: 1px;
    font-size: 16px;
    color: #212121;
    height: 20%;
}

