.progressPos{
    text-align: center;
    vertical-align: middle;
    /* background-color: #F5F5F5; */
}

.progressTitle{
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    margin: 3%;
    text-align: center;
}

.detailTitlePlace{
    margin-top: 15px;
    background-color: #EEEEEE;
}

.progressTitlePlace{
    margin-top: 0px;
    background-color: #EEEEEE;
}

.detailOrderTitle{
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    margin: 5%;
    text-align: center;
}

.sectionTitle{
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    margin: 5%;
}

.titledetail{
    margin: 5%;
    font-size: 15px;
    color: #757575;
    font-weight: 700;
    margin-bottom: 5px;
}

.btnTakePict{
    background-color:#64DD17;
    color: #F5F5F5;
    border-color: transparent;
    border-width: 1;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

.btnProgress{
    font-size: 13em;
    font-weight: 500;
    color: #3F3205;
    background-color: #AEEA00;
    border-width: 2;
    border-color: transparent;
    border-radius: 4px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.btnProgressDone{
    font-size: 13em;
    font-weight: 500;
    color: #424242;
    background-color: transparent;
    border-width: 2;
    border-color:transparent;
    border-radius: 0px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    vertical-align: middle;
}

.imgDone{
    width: 15%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.content{
    margin: 5%;
    font-size: 14px;
    color:#757575;
    border-bottom-color: #E0E0E0;
    border-bottom-width: 1;
    margin-bottom: 20px; 
}