.aboutTitle{
    color: #32cb00;
    font-size:20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 300;
}

.contentAbout{
    color: #868585;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    white-space: normal;
    font-size:15px;
}

.aboutPos{
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}