.placeList{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #DBDBDB;
    border-bottom-width: 1;
    /* border-radius: 10px; */
    /* background-color: #EBEBEB; */
}

.province{
    font-size: 18px;
    font-weight: 300;
    vertical-align: middle;
    margin-left: 20px;
    color: #616161;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imgCity{
    width: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.action-bar-label {
    color: #616161;
    font-size: 17pt;
    font-weight: 300;
    vertical-align: middle;
    margin-left: 0px;
} 

action-bar {
    background-color: #EEEEEE;
}