.cardBlog {
    background-color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.newsSegment {
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.imageNews{
    /* width: 100%; */
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.titleNews {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 300;
    color: #212121;
}

.dateNews{
    margin-left: 10px;
    margin-right: 10px;
}

.descNews{
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}