.action-bar-label {
	color: #616161;
	font-size: 17pt;
	font-weight: 300;
	vertical-align: middle;
	margin-left: 0px;
	text-align: left;
}

action-bar {
	background-color: #EEEEEE;
}


.titleForgotPass {
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	color: #212121;
}

.textDesc {
	text-align: center;
	font-size: 15px;
	font-weight: 300;
	color: #686868;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 10px;
}

.imgForgotPass {
	width: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.labelField {
	color: #686868;
	margin-top: 40px;
	margin-bottom: 5px;
	margin-left: 5px;
	font-size: 14px;
	margin-left: 5%;
	margin-right: 5%;
}

.txtfdUsername {
	/*background-color: rgba(0, 0, 0, 0.57);*/
	border-color: #BBBBBB;
	border-width: 1;
	color: #212121;
	height: 10%;
	border-radius: 5px;
	margin-left: 5%;
	margin-right: 5%;
	font-size:14px;
}

.remindBtn {
	background-color: #32cb00;
	border-width: 1;
	border-color: transparent;
	margin-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
	color: #f5f5f5;
}

.resetBtn {
	background-color: #32cb00;
	border-width: 1;
	border-color: transparent;
	margin-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
	color: #f5f5f5;
}