.iconColor{
    color: #fff;
    background-color: #fff;
}

.searchTextField{
    border-color: #212121;
    background-color: #32cb00;
}

.tf_city_flo{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3%;
    margin-right: 3%;
    height:10%;
    font-size:12px;
}

.iconSearch{
    background-color: #fafafa;
    margin-right: 3%;
    background-image: url("~/assets/search_ico.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 90%;
    width: 80px;
}

.textFindService1{
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    color: #4B4A4A;
}

.textFindService2{
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    margin-top: 17%;
    margin-bottom: 17%;
    margin-left: 5%;
    margin-right: 5%;
    color: #6E6D6D;
}

.imgFindService{
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 13%;
    width: 90%;
    vertical-align: middle;
} 

.categoryList{
    /* height: 70%; */
    vertical-align: middle;
    margin-right: 3%; 
    margin-left: 3%;
    border-bottom-width: 1;
    border-color:#f5f5f5;
}


.positionContentList{
    vertical-align: middle;
    height: 100%;
}

.category{
    font-size: 20px;
    color: #494949;
    margin-left: 5%;
    width: 100%;
}


.price{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10%;
    margin-left: 5%;
    color: #c2185b;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
}

.imgPreview{
    width: 20%;
    margin-right: 5%;
}