﻿@import 'nativescript-theme-core/css/core.light.css';

page {
	font-size: 14pt;
	background-color: #fffffb;
}

NavigationButton {
	color: #fff;
	background-color: #fff;
}

action-bar {
	background-color: #64DD17;
	color: white;
}

.action-bar-label {
	color: #fff;
	font-size: 17pt;
	font-weight: 300;
	vertical-align: middle;
	margin-left: 0px;
	text-align: left;
}