.whiteCard { 
    background-color:#FFFFFF; 
    border-width:0;;
    Padding:0px;
    width: 95%;
} 

.lvannounce {  
    background-color:#ececec; 
} 

.cvtitle { 
    color:#19920E; 
    font-size:17px;
    text-align: left;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
}

.cvcontent {
    font-size:12pt;
    width:100%;
    border-width: 0;
    margin-top:3px;
    margin-bottom:2px;
    text-align: left;
    color:#464746; 
    margin-left: 10px;
}

.cvdesc {

}

.imgRedeem{
    margin : 10px;
    width : 100%;
    text-align: center;
    vertical-align: middle;
}