
.layoutOutside {
	margin-left: 5%;
	margin-right: 5%;
}

.titleLogin {
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #32cb00;
}

.segmentation {
	margin-bottom: 30px;
}

.labelSegment {
	color: #424242;
	margin-top: 20px;
	margin-left: 5px;
	font-size: 20px;
	font-weight: 300;
}

.labelField {
	color: #616161;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 5px;
	font-size: 14px;
}

.desLabel {
	color: #9E9E9E;
	margin-left: 5px;
	font-size: 13px;
	font-style: italic;
}

.txtfdUsername {
	/*background-color: rgba(0, 0, 0, 0.57);*/
	border-color: #BBBBBB;
	border-width: 1;
	color: #212121;
	height: 10%;
	border-radius: 5px;
}

.txtfdPassword {
	/*background-color: rgba(0, 0, 0, 0.57);*/
	border-color: #BBBBBB;
	border-width: 1;
	color: #212121;
	height: 10%;
	border-radius: 5px;
}

.loginBtn {
	background-color: #424242;
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	margin-top: 6px;
}

.forgotBtn {
	background-color: #920982;
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
}

.btnFacebook {
	background-color: #1d4088;
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	border-width: 1;
	border-color: transparent;
	margin-right: 0%;
}

.btnGoogle {
	background-color: #db3236;
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	border-width: 1;
	border-color: transparent;
	margin-left: 10%;
}

.titlalternativelogin {
	text-align: center;
	font-size: 17px;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 20px;
	color: #32cb00;
}

.footer {
	vertical-align: bottom;
	bottom: 0;
	position: fixed;
	background-color: #607D8B;
	text-align: center;
	height: 7%;
}

/* .textFooter {
	color: #ffffff;
	font-size: 16px;
	vertical-align: center;
	margin-bottom: 15px;
} */

.btnReg{
	color: #ffffff;
	font-size: 14px;
	background-color: transparent;
	/* height: 100px; */
	border-color: transparent;
	border-width: 1;
}

.titleLogin {
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #32cb00;
}

.imgLogo {
	width: 70%;
	margin-bottom: 20px;
}

.action-bar-label {
	color: #ffffff;
	font-size: 17pt;
	font-weight: 300;
	vertical-align: middle;
	margin-left: 0px;
}

action-bar {
	background-color: #8BC34A;
}