.infoPlace{
    margin-left: 0%;
    margin-top: 0px;
    margin-right: 0%;
    background-color: #3A1053;
    border-radius: 0px;
    padding: 5px;
}

.textInfo{
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}

.textInfoTitle{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}


.titleInfo{
    color: #636363;
    font-size: 18px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom :10px;
    margin-top: 5px;
}

.formPlace{
    /* margin-top: 3px; */
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 10px;
}



.formPlaceBottom{
     vertical-align: bottom;
     bottom: 0;
     position: fixed;
}


.labelText{
    vertical-align: middle;
    bottom: 0;
    position: fixed;
    margin-top: 2%;
}

.listPicker{
    vertical-align: middle;
    height: 0%;
}

.btnNext{
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    background-color: #32cb00;
    height: 15%;
    border-radius: 1;
    /* margin-left:10%;
    margin-right:10%;
    margin-top:100px; */
}

.btnBack{
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    background-color: #32cb00;
    width: 100%;
    height: 40%;
    border-radius: 1;
}


.btnProcess{
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    background-color: #32cb00;
    width: 100%;
    height: 40%;
    border-radius: 1;
}

.btnChooseDate{
    border-radius: 10px;
    font-size: 17px;
    background-color: #7ecb20;
    color: #ffffff;
}

.formTextField{
    border-color: #E6E6E6;
    border-width: 1px;
    /* border-radius: 10px; */
    font-size: 12px;
    color: #212121;
    height: 20%;
}

.labelText{
    color: #373737;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
}

.category{
    color: #636363;
    font-size: 15px;
    margin-left: 2%;
    margin-right: 5%;
}

.price{
    color: #636363;
    font-size: 15px;
    margin-left: 2%;
    margin-right: 5%;
}
