.slide-1 {
    width: 100%;
}

.slide-2 {
    width: 100%;
}

.slide-3 {
    width: 100%;
}

.slide-4 {
    width: 100%;
}

.slide-5 {
    width: 100%;
}

.iconPlace {
    /* background-color: #EEEEEE; */
    vertical-align: middle;
}

.iconMenu {
    width: 33.3%;
}

.labelIcon{
    text-align: center;
    font-size: 15px;
    color : #212121;
    font-weight: 500;
}

.iconMenuBuy{
    width: 33.3%;
    background-image:url('~/assets/statistic.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size: 50% 80%;
}


.iconMenuHistory{
    width: 33.3%;
    background-image:url('~/assets/my-order.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size: 50% 80%;
}

.iconMenuNewOrder{
    width: 33.3%;
    background-image:url('~/assets/new_order.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size: 50% 80%;
}

.iconMenuManageOrder{
    width: 33.3%;
    background-image:url('~/assets/manage_order.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size: 50% 80%;
}

.iconProductRegister{
    width: 33.3%;
    background-image:url('~/assets/register_product.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size: 50% 80%;
}

.iconMenuRedeem{
    width: 33.3%;
    background-image:url('~/assets/redeem.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size: 50% 80%;
}

.iconMenuTerm{
    width: 33.3%;
    background-image:url('~/assets/term.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size: 50% 80%;
}

.iconMenuBlog{
    width: 33.3%;
    background-image:url('~/assets/news.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size: 50% 80%;
}

.iconMenuAbout{
    width: 33.3%;
    background-image:url('~/assets/about.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size: 50% 80%;
}

.textIcon {
    text-align: center;
    color: rgb(43, 42, 42);
    margin-top: 40%;
    margin-bottom: 10%;
    font-size: 17px;
    font-weight: 400;
}

.bgPoint {
    background-color: #f5f5f5;
    vertical-align: middle;
}

.pointLabel {
    margin-top: 30%;
    margin-bottom: 10%;
    margin-left: 5%;
    font-size: 20em;
    font-weight: 500;
    text-align: left;
    width: 40%;
}

.point {
    margin-top: 20%;
    margin-bottom: 10%;
    margin-right: 5%;
    font-size: 30em;
    font-weight: 500;
    text-align: right;
    width: 60%;
}

.slide-indicator-inactive {
    background-color: #fff;
    opacity: 0.4;
    width: 10;
    height: 10;
    margin-left: 2.5;
    margin-right: 2.5;
    margin-top: 0;
    border-radius: 5;
}

.slide-indicator-active {
    background-color: #fff;
    opacity: 0.9;
    width: 10;
    height: 10;
    margin-left: 2.5;
    margin-right: 2.5;
    margin-top: 0;
    border-radius: 5;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.Material {
    font-family: MaterialIcons-Regular, Material Icons;
} 

.category{
    font-size: 16px;
    color: #212121;
    margin-left: 5%;
}

.time_deliver{
    color: #3F3F3F;
    margin-left: 5%;
}

.labeldate{
    color: #3F3F3F;
    margin-left: 5%;
}

.listPlace{
    background-color: #FFFFFF;
    border-bottom: #212121;
    margin-top: 10px;
}

.labelpaid{
    text-align: right;
    margin-right: 5%;
    color: #6D6C6D;
    padding: 5px;    
}