.progressTitle{
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    margin: 2%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.progressTitlePlace{
    margin-bottom: 10px;
    background-color: #EEEEEE;
}

.imgPreview{    
    margin-left: 2%;
    margin-right: 2%;
    width: 60%;
}

.buttonPlace{
    text-align: center;
    vertical-align: middle;
    margin-left: 5%;
    margin-right: 5%;
}

.btnTakePict{
    background-color:#64DD17;
    color: #F5F5F5;
    border-color: transparent;
    border-width: 1;
    border-radius: 3px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
}

.btnVerifyEnable{
    background-color:#64DD17;
    color: #F5F5F5;
    border-color: transparent;
    border-width: 1;
    border-radius: 3px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
}

.btnVerifyDisable{
    background-color: #E0E0E0;
    color: #B71C1C;
    border-color: #BDBDBD;
    border-width: 1;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
    font-weight: 500;
    font-size : 15px;
}

.segmentation{
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.labelField{
    font-size: 15px;
    color: #757575;
    font-weight: 700;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 5px;
}


.labelFieldData{
    font-size: 14px;
    color:#757575;
    border-bottom-color: #E0E0E0;
    border-bottom-width: 1;
    margin-bottom: 20px; 
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

.textfieldStyle{
    /*background-color: rgba(0, 0, 0, 0.57);*/
    border-color: #BBBBBB;
    border-width: 1;
    color: #212121;
    height:40px;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

.pictPlace{
    margin-bottom: 10px;
}