.category{
    font-size: 16px;
    color: #000000;
    margin-left: 5%;
}

.time_deliver{
    color: #3F3F3F;
    margin-left: 5%;
}

.labeldate{
    color: #3F3F3F;
    margin-left: 5%;
    font-weight: 700;
}

.listPlace{
    background-color: #FFFFFF;
    border-bottom: #212121;
    margin-top: 10px;
    font-weight: 700;
}

.labelpaid{
    margin-left: 5%;
    color: #3F3F3F;
    /* padding: 5px;     */
    font-weight: 700;
}

.labelState{
    color: #3F3F3F;
    font-size:13px;
    font-weight: 700;
    text-align: right;
    margin-right: 7%;
}

.labelTrx{
    color: #3F3F3F;
    font-size:13px;
    font-weight: 700;
    text-align: right;
    margin-right: 7%;
}

.labelPrice{
    color: #3F3F3F;
    font-size:13px;
    font-weight: 700;
    text-align: right;
    margin-right: 7%;
}

.stateProcess{
    color: #52CC0B;
    margin-right: 7%;
    font-size:13px;
    font-weight: 700;
}

.stateNotPaid{
    color: #FF6004;
    margin-right: 7%;
    font-size:13px;
    font-weight: 700;
}

.stateWaitingResponse{
    color: #FF0464;
    margin-right: 7%;
    font-size:13px;
    font-weight: 700;
}