.headerPlace{
    /* margin-left: 5%;
    margin-right: 5%; */
    margin-top: 0px;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 0px;
    background-color: #32cb00;
}

.textPrice{
    font-size: 25px;
    font-weight: 500;
    color: #32cb00;
    background-color: #ffffff;
    border-radius: 14px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 7px;
    margin-top: 10px;
    width: 60%;
}

.textInfoTitle{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    text-align: center;
}

.textInfoProductService{
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10px;
    text-align: center;
}

.contentPlace{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 7px;
}

.buttonPlace{
    /* width: 100%; */
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 7px;
    text-align: center;
    vertical-align: middle;
}

.contentTitle{
    font-size: 14px;
    font-weight: 300;
    color: #383838;
    margin-bottom: 5px;
}

.contentData{
    margin-bottom: 2px;
    color: #212121;
}

.detailInformation{
    font-size: 15px;
    font-weight: 300;
    color: #32cb00;
    margin-bottom: 10px;
}

.btnOrderNow{
    margin-top: 7px;
    background-color: #32cb00;
    color: #ffffff;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    border-radius: 0px;
    border-width: -1;
    vertical-align: middle;
    text-align: center;
}

.content{
    margin: 5%;
    font-size: 14px;
    color:#474747;
    margin-bottom: 0px; 
}

.sectionTitle{
    font-size: 20px;
    font-weight: 500;
    color: #30B903;
    margin: 2%;
}

.titledetail{
    margin: 5%;
    font-size: 17px;
    color: #272727;
    margin-bottom: 10px; 
}